---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [12]:
def answer_one():
    go_max = max(df['Gold'])
    dic = dict(df['Gold'])
    lst=[keys for keys, items in dic.items() if items == go_max]
    lst_2 = [dic.get(lst[0])]
    return lst[0]
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [13]:
def answer_two():
    diff = abs(df['Gold'] - df['Gold.1'])
    dic = dict(diff)
    lst = [keys for keys, items in dic.items() if items == max(diff)]
    return lst[0]
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [14]:
def answer_three():
    df1 = df.copy()
    df1 = df1[(df1['Gold'] >=1) & df1['Gold.1']>=1]
    rel = (df1['Gold'] - df1['Gold.1'])/(df1['Gold'] + df1['Gold.1'] + df1['Gold.2'])
    dic = dict(rel)
    lst = [keys for keys, items in dic.items() if items == max(rel)]
    return lst[0]
answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four():
    s = pd.Series(dict(df['Gold.1']*3+df['Silver.2']*2+df['Bronze.2']*1))
    new = pd.DataFrame(s, columns = ['Points'])
    return new
answer_four()

                        Points
Afghanistan                  2
Algeria                     12
Argentina                   76
Armenia                     13
Australasia                 13
Australia                  506
Austria                    515
Azerbaijan                  25
Bahamas                      9
Bahrain                      1
Barbados                     1
Belarus                    118
Belgium                    165
Bermuda                      1
Bohemia                      5
Botswana                     2
Brazil                     115
British West Indies          2
Bulgaria                   258
Burundi                      0
Cameroon                     3
Canada                     669
Chile                       18
China                      517
Chinese Taipei              26
Colombia                    23
Costa Rica                   4
Croatia                     49
Cuba                       204
Cyprus                       2
...                        ...
Spain                      157
Sri Lanka                    4
Sudan                        2
Suriname                     1
Sweden                     788
Switzerland                489
Syria                        3
Tajikistan                   4
Tanzania                     4
Thailand                    23
Togo                         1
Tonga                        2
Trinidad and Tobago         21
Tunisia                     10
Turkey                      74
Uganda                       8
Ukraine                    121
Unified Team               152
United Arab Emirates         0
United States             2756
United Team of Germany     185
Uruguay                     10
Uzbekistan                  23
Venezuela                   12
Vietnam                      4
Virgin Islands               2
West Germany               291
Yugoslavia                  93
Zambia                       3
Zimbabwe                     9

[146 rows x 1 columns]

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [7]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [15]:
def answer_five():
    cot = census_df[census_df['SUMLEV']== 50]
    cot = cot.set_index(['STNAME'])
    cot = cot.index.value_counts()
    return cot.argmax()
answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [9]:
def answer_six():
    cot = census_df[census_df['SUMLEV']== 50]
    cot = cot [['STNAME', 'CENSUS2010POP']]
    cot = cot.sort_values('CENSUS2010POP', ascending = False)
    cot = cot.groupby('STNAME').head(3)
    cot.reset_index(drop = True, inplace = True)
    cot = cot.groupby('STNAME').sum().sort_values('CENSUS2010POP', ascending = False)
    return list(cot.index[:3])
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [10]:
def answer_seven():
    po = census_df[census_df['SUMLEV']== 50]
    po.reset_index(drop = True, inplace = True)
    cols = ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']
    po['_min'] = po.loc[:, cols].min(axis = 1)
    po['_max'] = po.loc[:, cols].max(axis = 1)
    po['_delta'] = po['_max'] - po['_min']
    keep = ['CTYNAME', '_delta']
    po = po[keep].sort_values('_delta', ascending = False).reset_index(drop = True)
    return po['CTYNAME'][0]
answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [11]:
def answer_eight():
    re = census_df.copy()
    re.reset_index(drop = True, inplace = True)
    re = re[re['SUMLEV'] == 50]
    re = re[(re['REGION'] ==1) |(re['REGION'] ==2)]
    re = re[re['CTYNAME'].str.startswith('Washington')]
    re = re[(re['POPESTIMATE2015'] - re['POPESTIMATE2014'] >0)]
    cols = ['STNAME', 'CTYNAME']
    re = re[cols]
    return re
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County